section {
  margin-top: 20px;

  .todo,
  .done {
    &--task-list {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      mat-checkbox {
        margin-top: 5px;
      }
    }
  }
}

