<section>
  <mat-tab-group>
    <mat-tab label="Things to do:">
      <div class="todo--task-list">
        <mat-checkbox *ngFor="let task of todoTasks" (click)="taskClick(task)" false>{{task.name}} </mat-checkbox>
      </div>
    </mat-tab>
    <mat-tab label="Things already done:">
      <div class="done--task-list">
        <mat-checkbox *ngFor="let task of doneTasks" (click)="taskClick(task)"
                      [(ngModel)]="checked">{{task.name}}</mat-checkbox>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
