.container {
  margin-top: 30px;
  margin-left: 5px;

  .todo {
    &--task-list {
      display: flex;
      flex-direction: column;
    }
  }

  .done {
    margin-top: 20px;

    &--task-list {
      display: flex;
      flex-direction: column;
    }
  }
}
