<script src="dashboard-list.component.ts"></script>
<script src="dashboard-list.component.spec.ts"></script>
<div class="container">
  <section class="todo">
    <p>Things to do:</p>
    <div class="todo--task-list">
      <mat-checkbox *ngFor="let task of todoTasks" (click)="taskClick(task)" false>{{task.name}} </mat-checkbox>
    </div>
  </section>

  <section class="done">
    <p>Things already done:</p>
    <div class="done--task-list">
      <mat-checkbox *ngFor="let task of doneTasks" (click)="taskClick(task)" [(ngModel)]="checked">{{task.name}}</mat-checkbox>
    </div>
  </section>
</div>
