@import 'libs/shared/src/lib/styles/_breakpoints.scss';

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
  }

  h1 {
    font-weight: 500;
    color: #444;
  }

  .search-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    mat-form-field {
      height: 60px;
      width: 80%;

      @include media-breakpoint-down(md) {
        height: 55px;
        width: 70%;
      }
    }

    button {
      height: 100%;
    }
  }
}
