<link rel="stylesheet" href="dashboard.component.scss">
<header>
  <h1>To do list</h1>
  <div class="search-area">
    <mat-form-field appearance="outline">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Type your task" [formControl]="name">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTaskEmit()">Primary</button>
  </div>
</header>
