<main class="dashboard--container">
  <test-dashboard (taskEmit)="addTask($event)"></test-dashboard>
  <test-dashboard-list [todoTasks]="todoTasks" [doneTasks]="doneTasks"
                       (clickEmit)="changeStatus($event)"></test-dashboard-list>
  <test-dashboard-list-mobile [todoTasks]="todoTasks" [doneTasks]="doneTasks"
                              (clickEmit)="changeStatus($event)"></test-dashboard-list-mobile>
</main>

