@import 'libs/shared/src/lib/styles/breakpoints';

.dashboard--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  test-dashboard,
  test-dashboard-list {
    width: 50%;

    @include media-breakpoint-down(md) {
      width: 90%;
    }
  }

  test-dashboard-list {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  test-dashboard-list-mobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
      width: 90%;
    }
  }
}
